
html body {
    background-image: url(../imgs/Matemática-background.svg);
}

header {
 
   text-align: center;
}

header h1 {
    color: #fff;
    font-weight: 700;
}

.form-container {
    display: flex;
    flex-direction:column ;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    padding: 15px;
    max-width: 600px;
    margin: auto;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.445);

}

.form-oper {
    padding-top: 20px;
}

.calcular {
   display: flex;
   align-items: center;
   justify-content: center;
   padding-top:20px ;
}

.calcular input {
    margin-right: 20px;
}

.calcular img {
    width: 100%;
}
    
   

.calcular button {
    margin:  0 ;
    border: 1px solid #000000;
    
}
footer {
     color: #ffffff;
     text-align: center;
}

