
* {
box-sizing: border-box;
}

html body {
    background-color: #808080;
}
header  {
   background-color: #096336b8;
   height: 60px;
   color: #ffffff;
}

#img-nav {
    max-width: 200px;
}

nav {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
}

 nav h1 {
    font-size: 20px;
    font-weight: 700;
}

#content-section-container {
    background-color: #ffffff;
    font-family: inherit;
    font-size: 100%;
}

.calc-button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 10px;
}
.calc-button button {
    margin: 0;
    background-color: #096336b8;
    font-weight: 500;
    border: 1px solid #000000;
}

.calc-button a {
    color: #ffffff;
}

h2 { 
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
 }

p {
    font-size: 20px;
    font-weight: 500 ;
    text-align: left;
}

.img-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.img-content img {
    max-width: 100%;
}
