* {
    box-sizing: border-box;
    font-size: 13px;
}
:root {
    --cor-Primaria: #000000fe;
    --cor-Secundaria: #ffff;
    --cor-terciaria: #2c312e
}

body {
    background-color: var(--cor-terciaria);
}

.menu-color {
    color: var(--cor-Secundaria);
}

.dp-menu ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    justify-content: space-between;
    margin: 0;
}

.dp-menu {
    padding: 0 35px;
    background-image: url(../imgs/Matemática-background.svg);
}

.dp-menu a {
    text-decoration: none;
}
.dp-menu ul li {
    display: block;
    position: relative;
    background-color: black;
}


.dp-menu ul li img {
    width: 50px;
}
.dp-menu ul li a {
    color: var(--cor-Secundaria);
    text-decoration: none;
    padding: 10px;
}

.dp-menu ul li a:hover {
    background-color: var(--cor-terciaria);
}

/*sub menu*/

.dp-menu ul ul {
    display: none;
    position: absolute;
    width: 150px;
}

.dp-menu ul li:hover ul {
    display: block;
} 

.dp-menu ul ul li a {
    display: block;
}

.dp-menu h1 {
    color: var(--cor-Secundaria);
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-Secundaria);
}

section h1 {
    margin: 10px ;
}
.img-content img {
    width: 350px;
}

