:root {
    --cor-Primaria: #000000fe;
    --cor-Secundaria: #ffff;
    --cor-terciaria: #2c312e
}

body {
    background-color: var(--cor-terciaria);
}

.menu-color {
    color: var(--cor-Secundaria);
}

.dp-menu ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    justify-content: space-between;
    margin: 0;
}

.dp-menu {
    padding: 0 31px;
    background-image: url(../imgs/Matemática-background.svg);
}

.dp-menu a {
    text-decoration: none;
}
.dp-menu ul li {
    display: block;
    position: relative;
    background-color: black;
}


.dp-menu ul li img {
    width: 50px;
}
.dp-menu ul li a {
    color: var(--cor-Secundaria);
    text-decoration: none;
    padding: 10px;
}

.dp-menu ul li a:hover {
    background-color: var(--cor-terciaria);
}

/*sub menu*/

.dp-menu ul ul {
    display: none;
    position: absolute;
    width: 150px;
}

.dp-menu ul li:hover ul {
    display: block;
} 

.dp-menu ul ul li a {
    display: block;
}



#content-section-container {
    background-color: var(--cor-Secundaria);
    font-family: inherit;
    font-size: 100%;
}

.calc-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.calc-button button {
    margin: 0;
    background-color: var(--cor-terciaria);
    font-weight: 500;
    border: 1px solid var(--cor-Primaria);
}

.calc-button a {
    color: var(--cor-Secundaria);
}
h1 {
    padding-left: 10px;
    color: var(--cor-Secundaria);
    margin: 0;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
}

p {
    font-size: 20px;
    font-weight: 500;
    text-align: left;
}

.img-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.img-content img {
    max-width: 100%;
}